.games{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
    padding:15px;
}

.game{
    aspect-ratio:1/1;
    background:#2c3150;
    border-radius:14px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.game img{
    width:52px;
    height:52px;
    margin-bottom:10px;
}

.game span{
    font-size:13px;
    text-align:center;
}
